.title{
    font-size: 35px;
    margin-left: 10%;
}

.titleMain{
    font-size: 35px;
    color: #276379;
}

.titleSub{
    font-size: 25px;
    color: #276379;
}

.layout{
    border: 1px solid;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.Content{
    padding: 20px;
}


.main{
    border: 1px solid;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

#installer{
    height: 50%;
    width: 90%;
    margin: 10px auto;
}

#installer2{
    height: 50%;
    width: 90%;
    margin: 10px auto;

}

#installer3{
    height: 50%;
    width: 90%;
    margin: 10px auto;

}

#installer4{
    height: 50%;
    width: 90%;
    margin: 10px auto;

}

#installer5{
    height: 50%;
    width: 90%;
    margin: 10px auto;

}

#installer6{
    height: 50%;
    width: 90%;
    margin: 10px auto;

}

#installer7{
    height: 50%;
    width: 90%;
    margin: 10px auto;

}

#installer8{
    height: 50%;
    width: 90%;
    margin: 10px auto;
}